#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li {
    display: inline-block ;
}
#menu ul li a{
    color: greenyellow;
    text-decoration: none;
    display: block;
    padding: 10px 175px;
}
#menu{
    background-color: red ;
}
#menu ul li a:hover{
background-color: rgb(40, 2, 255);
}
.body{
    background-color: rgb(111, 0, 255);
}
.nav{
    background-color:rgb(255, 0, 0)
}
.Animeparatodalafamilia{
    background: rgb(181, 255, 96);
    text-align: center;
}
.godzillaSP{
    background: orange;
    text-align: center;
}
.bokunoheroacademy5tatemporada{
    background: rgb(59, 240, 253);
    text-align: center;
}
.entercerlugartenemosssssssdynazenon{
    background: rgb(255, 178, 35);
    text-align: center;
}
.shakunetsu{
    background: rgb(250, 61, 61);
    text-align: center;
}
.shamankking{
background: rgb(255, 124, 72);
text-align: center;
}
.mashironooto{
background: yellow;
text-align: center;
}
.vivyflouriteeyessong{
background: violet;
text-align: center;
}
.CardfightVanguardoverdress{
background: turquoise;
text-align: center;
}
.sayonarawatashinocramer{
background: yellowgreen;
}
.YuyuesunniñoqueviveenKanazawaprovinciadeKagaTiene15añosyestáensutercerañodesecundariaTienelacapacidaddesentirlossentimientosdelosdemásperolepreocupaelhechodequenopuededecirquenocuandoselepreguntaUndíaYuyuyanopudosoportarmáselpasatiempodesuhermanaasíqueseescapódecasaQuienlosalvaesMegumiOkuraMegumiinvitaaYuyuaunparquedeatraccionesnocturnollamadoWonderHilldondepasanelratosusamigosEnelparquedeatraccionesYuyuconoceaMegumiZakusaIshikameyTomariSetomiembrosdelTeamBlackoutungrupoquesereúneparajugarVanguardtodaslasnochesEstanochesellevaráacabounapeleaseriaporlabanderadelequipoEllíderdeBlackoutDanjiMomoyamayelmisteriosoypoderosoluchadorTouyaEbataMientrasYuyulosmiralapeleadecartasprontoseerosionaenunmundodeimágenesAsíescomoYuyuseencuentraconVanguardunmundoqueuncahabíavistoantesyseveataídoporsupoderosoatractivhaciendonuevosamigosenelcaminobuenoeltioflvtampocometioestaserieensurepertorioosimplementenotienepermisodesubirlalesvuelvoarecomendaraLAyaqueellegionariotienemuchosmasanimesahiymuchasmasrecomendaciones
{
text-align: center;
color: rgb(43, 255, 149);
color: deepskyblue;
}
p.center{
text-align: center;
}
.EstaseriepresentaunahistoriaoriginalquemuestraalosjóvenesgeniosMeiKaminounainvestigadorayYunArikawauningenieromientrasasumenunaamenazasinprecedentesconsuscompañerosCuandoelpeligrosurgedelasprofundidadessololosjóvenesgeniosMeiYunysuequipopuedenenfrentarlaamenazaenGodzillaSingularPointdeestesoloestaenLAalparecereltioflvnotienepermisosobreestaserieUnU{
text-align: center;
color: deepskyblue;
}
.puesquepuedodecireslaaquintatemporadademirodilladigomidoriyayasabendequeva{
text-align: center;
color: rgb(61, 232, 255);
}
.buenonolohevistoperonahlaverdadnotenogniideadequetanbuenoeste{
text-align: center;
color: yellow;
}
.ElestudiantedeprimerañodesecundariaTatsuyayoigoshielexasdeunequipodefútboldelaescuelasecundariaalquenolegustanlosdeportesrecibeunainvitaciónparaunirsealclubKabaddiInicialmenteburlándosedelaideadeKabaddiseinteresadespuésdeverunaintensacompetenciasimilaralasartesmarcialesenunasesióndepráctica{
text-align: center;
color: turquoise;
}
.HOLAfamiliaaacomoestanesperoquebienbuenoestaeslanuevapaginaysecciondeAnimeparalafamiliabuenocomosehabrandadocuentaalserunanuevaversiondebetenercosasnuevasnoenelcanaldeyoutubeestaresubiendosobreloquesepodrahaceryloqueestaredesarrollandoenlapaginademomentoseguiransiendogameplaystambienhabranuevoscontenidosdejarelapaginadefbdondesubiretodalainformacionsobrelosfansartshechosporustedesobviamentetambienhabranuevascolaboracionescambiosenlaimagendelperfildentrodeunosmesesybuenoheaquilosanimesdelatemporadaprimavera2021UwUaldarclicenlaimagendelanimelosmandaraaltioflvdondepodranverelprimercapitulodelanimealfinaldelesdejareellinkparapoderdescargarLAtantoparapccomoparaandroid{
text-align: center;
color:  rgb(122, 255, 89)
}
.ShamisenesuninstrumentomusicaltradicionaljaponésquesepareceaunaguitarraElabuelodeladolescenteSawamuraSetsuquelocrióaélyasuhermanomayorWakanafalleciórecientementeSuabuelofueunodelosmejoresintérpretesdeShamisenylosdoshermanoscrecieronescuchándolotocaryaprendiendoatocarleinstrumentoDesdelamuertedesuabueloSetsuabandonólaescuelasecundariasemudóaTokioyhaestadoaladerivasinsaberquéhacerademásdejugarsuShamisenAhíescuandosuexitosayricamadreUmekoirrumpeensuvidaeintentadarleformaaSetsuEllaloinscribedenuevoenlaescuelasecundariaperoSetsunosabequeestáapuntoderedescubrirsupasiónporShamisenbuenoescomoshigatsuwakiminousoperoconunendingfelizestavezlosprotasnomoriranoesoespero{
text-align: center;
color: rgb(0, 195, 255);
}
.NierlanduncomplejoparquetemáticodeinteligenciaartificialdondelossueñoslasesperanzasylacienciaseentremezclanCreadacomolaprimeraIAhumanoideautónomadelahistoriaVivyactúacomounelencodeIAparaelestablecimientoParacumplirconsumisióndehacerfelicesatodosatravésdelascancionescontinúasubiendoalescenarioyactuandocontodosucorazónSinembargoelparquetemáticotodavíacarecíadepopularidadUndíaunAIllamadoMatsumotoapareceanteVivyyexplicaquehaviajadodesde100añoshaciaelfuturoconlamisióndecorregirlahistoriaconVivyyprevenirlaguerraentreAIylahumanidadquetendrálugar100añosdespuésQuétipodefuturoredibujaráelencuentrodedosIAconmisionesdiferentesEstaeslahistoriadeAIdestruyendoAIComienzaelviajede100añosdeAIdivaVivymemorieplasticsnosemerecordobastantealaro{
text-align: center;
color: darkturquoise;
}
.SinlogrosfutbolísticosdelosquehablardurantelatotalidaddelosañosdesecundariadeSumireSuouelalajovenrecibeunaofertaextrañaElprincipalrivaldeSuouMidoriSoshizakilainvitaaunirsealmismoequipoenlaescuelasecundariaconlapromesadequenuncadejaráqueSuoujueguesolaEsunaofertaseriaperolapreguntaessiSuoulaaceptaráAsíseabreeltelóndeunahistoriaquereúneunelencoenormedepersonalidadesfutbolísticasindividuales{
text-align: center;
color: dodgerblue;
}
.historiadeldiaprotashinbuenoangelentoncesiremosalauniversidaddehakuuparaverquecarreraseralaqueeligiremosnoviadelprotaangelsipsentoncesdametumanoparanoperdermeshintienes19noteperderasangelhaaestabienhorasdespuesshinmiraestalacarreradecocinaangelentraremosjuntosshinnoseadecirverdadnoquieroentraralaprimeraqueveaesperareaverquemashaysiquieresentrartuesposiblequeyotambienentresomosunomismorecuerdasangelsiiiishinbienentonceshaselcardexdeentregaangelvooooyshinahoraaquecarreraentrarenoquierovolveraserelmismoangellistooyaentregelosdocumentosyadecidisteshinnolaverdadesquenoangelentoncesvamosacomershinsivamosangeloyesientrasaunadistintasabesqueestareahiparaticiertonovolverasaestarsolonomientrasestecontigoshinbuenojustoporesoestoypensandoaquecarreraangelpuesdecideprontoseradentrodedosdiaselingresoshinsielultimodiaqueelijaseraeldiadeingresoangelentoncesesperarehastaentoncesshinsiseraunaesperaquevaldralapenaeldiadeingresoangelcieloooodateprisallegaremostardeshinvoyvoyangeltencuidadocuandoestespaseandoporlauniversidadmepertenecesshinsisiloquedigaszancudoempalagososuerteentuprimerdiaangelgraciasfuentedeazucarescandalosoangelbuenastardesmaestromaestrokanubuenassupervisoradalkanuesossontodoslosalumnoslosdejoensusmanosdentrodeunosmomentosllegaramarielalamujermasimportantedentrodelmundogourmetkanuesamujermeponelosnerviosdepuntabienentoncesnosvemosdespuesadalhastaluegokanubienestudiantesyoseresuunicomaestroylaverdadnoserebuenonoesperenquelosayudeenalgunmomentodurantelasclasesporquesolosonperdidasdetiempoenestosmomentosustedessonunospequeñosbebesquenosabennadaperonosepreocupensolopasaranlosquedeverdadsepanpoderseguirmeelpasoyestoyseguroqueestaprimerasemanamuchossesaldrandelacarreraporqueningunodeustedessabenadasobrelacocinasimplementenohaynadiequepuedacocinarporesoyolesenseñareparaqueminimopuedanprepararalgodecentetrabajaranporparejasalfinaldeldiamemostraransusresultadostendremos4hrsdeteorialasprimerasclasesy2hrsdepracticahastanuevoavisosialguienquierearriesgarseaperdersucarrerapuededesafiarmeelriesgoesaltoaligualquelasgananciasperoningunodeustedespodrahaceralgoboladangelyooookanutuqueniñaangelyoquieroarriesgarmealexitoycomodijoqueseraenparejaskanuyonuncadijequeseriaenparejasangelentoncesdespuesdedeciralgotecontradicessimplementeparaquenotehumillenkanueresbastantemaleducadatelohandichoangellapersonasqueseramiayudanteduranteesteretomelodicetodoslosdiastodoeldiakanubienentoncesmañanaseralapruebaentreustedesdoscontramiangelsonrisitamacabradespuesdeclasesshinholaangelcomotangelyatemetienmicarrerasiiiishinahoraquehicisteangelvamosacenarytelocontareshinquehicistequesinavisarmeangelvamosessolounretootedamiedoshinahhquiencarajosdijoqueteniamiedoapesardequeestoyenojadocontigonopuedoevitaremocionarmeangellapruebaseramañanaasiquehabraqeensayareltimepoquetenemosshinahsiserabastanteduroparaseruntemalibrealguienmastieneelpresentimientoqueseraunaaventurabastantelarga{
text-align: center;
color: rgb(15, 255, 67)
}
.alguienmastieneelpresentimientoqueseraunaaventurabastantelarga{
text-align: center;

}
.genteparalosusuariosdelegionanimetambienhabralegionanimegamesyprontopublicarecosasnuevas{
text-align: center;
}
.UnabatallaestáapuntodecomenzarenTokiolaBatalladeChamanesunacompetenciaqueserealizacadaquinientosañosendondelosChamanesaquellosquepuedencomandarespíritusseconfrontanentresíAquelqueresultevictoriosoenestetorneoseráreconocidocomoelShamanKingypodrácontactarycontrolaralGranEspíritupermitiéndolereformarelmundoasuvoluntadatravésdesuinmensopoderDuranteunacaminatanocturnaMantaOyamadaseencuentraconsucompañeroeldespreocupadoYohAsakuraquienloinvitaamirarlasestrellasconotrosamigosquienesparaelhorrordeMantaresultanserlosfantasmasdelcementeriolocalSinembargoresultasorprendentetambiénqueMantaseacapazdeverlos{
 text-align: center;
 color: yellow;
}
.horasdespues{
color: yellow;
}
.eldiadeingreso{
color: yellow
}
.despuesdeclsases{
color: yellow;
}
.alguienmastieneelpresentimientoqueseraunaaventurabastantelarga{
color: yellow;

}
.genteparalosusuariosdelegionanimetambienhabralegionanimegamesyprontopublicarecosasnuevas{
background-color: rgb(111, 0, 255);
}
.center{
color: rgb(122, 255, 89);
}
.footer{
background-color: rgb(155, 34, 255)
}
.Animeparatodalafamilia{
    background: rgb(181, 255, 96);
    text-align: center;
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li {
    display: inline-block ;
}
#menu ul li a{
    color: greenyellow;
    text-decoration: none;
    display: block;
    padding: 10px 175px;
}
#menu{
    background-color: red ;
}
#menu ul li a:hover{
background-color: rgb(40, 2, 255);
}
.body{
    background-color: rgb(111, 0, 255)
}
.nav{
    background-color:rgb(255, 0, 0)
}
.SatoruMikamiesunhombrede37añosquetieneuntrabajoquenolegustasinsalidayquenoesfelizconlavidaquellevaperocuandomuereamanosdeunladrónypiensaqueessufinsedespiertadescubriendoquesehareencarnadoenunmundodemagiayespadaperocomounslimeAhoratendráqueacostumbrarseasunuevavidaaunqueporsuertecontarácondoshabilidadesúnicasqueleayudaránasobrevivirunaqueleproporcionaunagrancomprensióndetodoloquelerodeayotraquelepermitecopiarlashabilidadesdesusoponentes{
    background: chartreuse;
    text-align: center;
}
.LaAcademiaMihamaenlasuperficieesuncerradoambientedeaprendizajeestablecidoparanutriraestudiantesqueseencuentranenconflictoconelmundoquelosrodeaenlaactualidadesunahuertayprisiónconstruidaparapreservarelfrutoquehacaídolejosdesuárbolSeacuálesseanlascircunstanciasdetrásdesuestablecimientolaAcademiaMihamaeselactualhogarparacincoestudiantesfemeninastodasconsuspropiasrazonesparasumatrículaParabienoparamalcadachicahadesarrolladounarutinapredeterminadaporsusituaciónlavidasemuevelentamenteperoaunapropiadoritmodentrodelasparededeMihamaConlallegadadelprimerestudiantevarónalaacademiaelcasiabsurdamenteinexpresivoKazamiYuujilasestudiantesdeMihamacomienzanaperderelritmodesusrutinasProbaráYuujiserelelementoquelaschicasnecesitabanparahacersecargodesusvidasunavezmásoseráelpesodesuspasadosunapendientemuyempinadaparasuperardeestesitendranqueverlasegundatemporadaporquepuesdigamosqueestaalrevezperoprimeroempiecenconestaasilesdaramascuriosidaddequienkazamiyquienerasuhermana{
    background: rgb(162, 49, 255);
    text-align: center;
    color: lawngreen;
}
.Lahistoriatienelugar30añosantesdelosacontecimientosdeMagiEnestaeranoscentraremosenelviajequetienequerealizarSinbadparaconvertirseenrey{
    background: darkturquoise;
    text-align: center;
    color: rgb(255, 0, 0)
}
.TaigaKagamiesunnovatoqueacabadeentraralInstitutoSeirindondeconoceaTetsuyaKurokootronovatoquesehaunidoalclubdebasketballKurokoeraelsextomiembrodelconocidoequipoGeneracióndelosmilagrosdelaescuelasecundariaTeikoaunquenuncallegóasaliralaluzConelpasoalinstitutocadaunodelosmiembrosdelequipoiránainstitutosdiferentesdondeintentaránconvertirasusequiposenelmejordetodos{
    background: cyan;
    text-align: center;
    color: rgb(0, 4, 255)
}
.enestasecciontendranmirecoemndacionanimesqueehvistoylaverdadestanqueuffaassjoyitasenanimaciontambienlesdejareelcanaldekidosenpai{
    text-align: center;
background-color: rgb(0, 100, 231);
color: rgb(208, 255, 0)
}
.tenseidhitaraslimedattaken{
   image-orientation: inherit;
   text-align: center;
}
.ypuesdemomentoesoslosdemasestanenlapaginaprincipaldeanimeparatodos{
text-align: center;
background-color: yellowgreen;
color: rgb(111, 0, 255)
}
.center{
text-align: center;
}
.israelabrahamgutierrezenriquez{
    color: rgb(122, 255, 89);
}
.footer{
    background-color: rgb(155, 34, 255);
}
.kiritosan{
    text-align: center;
}
.fa {
padding: 20px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}
.fa:hover {
opacity: 0.7;
}
.fa-facebook {
background: #3B5998;
color: white;
}
.fa {
padding: 20px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}
.fa:hover {
opacity: 0.7;
}
.fa-instagram {
background: #ff31cb;
color: white;
}
.fa-youtube {
background: #bb0000;
color: white;}
.article{
background-color: rgb(219, 134, 6)
}
.nav{
background-color:rgb(255, 0, 0)
}
.micontacto{
color: yellowgreen;
text-align: center;
}
.israel{
color: turquoise;
text-align: center;
}
.kiritosan{
color: aqua;
}
.facebook{
color: springgreen;
text-align: center;
}
.instagram{
color: rgb(255, 0, 0);
text-align: center;
}
.footer{
background-color: rgb(155, 34, 255)
}
.abraham{
color: rgb(122, 255, 89);
text-align: center;
}
h3{
text-align: center;
color: aqua;
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li {
    display: inline-block ;
}
#menu ul li a{
    color: greenyellow;
    text-decoration: none;
    display: block;
    padding: 10px 175px;
}
#menu{
    background-color: red ;
}
#menu ul li a:hover{
background-color: rgb(40, 2, 255);
}

.Animeparatodalafamilia{
    background: rgb(181, 255, 96);
    text-align: center;
}